.home {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.left_container {
    min-width: 240px;
    padding-right: 16px;
    max-width: 33%;
}

.right_container {
    min-width: 240px;
    padding-left: 16px;
    max-width: 33%;
}

.progress_container {
    width: 100%;
}

.progress_bar {
    width: 100%;
    background-color: lightblue;
    animation-duration: 0.2s;
    transition-duration: 0.2s;
}

.video_container {
    flex-grow: 1;
}

.video_player {
    width: auto;
    max-width: 100%;
}

.log_container {
    max-height: 120px;
    overflow: auto;
}

.text-sm {
    font-size: smaller;
}